<header class="header-section">
  <div class="header__nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="logo">
            <a href="./index.html"
              ><img src="/customer/img/logo.png" alt=""
            /></a>
          </div>
        </div>

        <div class="col-lg-10">
          <div class="nav-menu">
            <ul class="main-menu">
              <li><a href="./index.html">Trang chủ</a></li>
              <li><a href="./club.html">Câu lạc bộ</a></li>
              <li><a href="./schedule.html">Đặt sân</a></li>
              <li><a href="./booking-history.html">Lịch đã đặt</a></li>
              <li><a href="#">Bản đồ</a></li>
              <li><a href="./contact.html">Liên hệ</a></li>

              <!-- SEARCH -->
              <li class="search-switch">
                <i class="fa fa-search"></i>
              </li>

              <!-- ACCOUNT - NGOÀI CÙNG -->
              <li class="account-menu">
                <a href="#"><i class="fa fa-user"></i></a>
                <ul class="dropdown">
                  <li><a href="./profile.html">Thông tin cá nhân</a></li>
                  <li><a href="./favorite-club.html">Sân yêu thích</a></li>
                  <li><a href="#">Đăng xuất</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="canvas-open">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </div>
</header>
